@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
   
   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}

body {
    background-color: #F8F2FF;
    margin: 0;
}

header {
    background-color: #331436;
    width: 100%;
    height: 80px;
    padding: 0 20px;
      
}

.container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

  
}

.nav-left {
    font-size: ;
    display: flex;
    gap: 20px;
    align-items: center;
    text-align: center;
   
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
   
}

.site-title {
    font-size: 28px;
    line-height: 36px;
    color: #FFFFFF;
}
.nav-right{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.nav-right ul {
    list-style: none;
    display: flex;
    justify-content: space-around;

}

.nav-right ul li {
    margin-right: 20px;
}

.nav-right ul li a {
    color: white;
    text-decoration: none;
}

/*body*/
.container-main {
    width: 1440px;
    height: 746px;
    gap: 60px;
    padding: 60px 170px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
 
}
.column-card {
    width:240px ;
    height:626px ;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 16px;
    margin-bottom: 20px;
    gap: 10px;
}
.column-card-task{
    width: 240px;
    height: 626px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 16px 1;
   
}
.card{
    background-color: #F8F2FF;
    width:200px ;
    height: 127px;
    border-radius: 8px;  
    stroke: #331436;

}
.card-header{
    width: 180px;
    height: 24px;
    gap: 104px;
    display: flex;
    justify-content: space-between;
}
.oval{
    width: 30px; 
    height: 15px; 
    background-color: #CB4F57;
    stroke: #7a1745;
    border-radius: 15px; 
    color: #7a1745;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    text-align: center;
    line-height: 24px; 
    font-size: 10px;
    align-items: center;
    text-align: center;
}
.texto-data{
    font-size: 10px;
}
.card-body{
    font-size: 10px;
    display: flex;
    flex-direction: row;
}
.x-text{
    font-size: 10px;
    font-weight: bold;
    color: rgb(153, 7, 7);
        
}


.footer-section {
    display: flex;
    justify-content: space-around;

    background-color: #331436;
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%;
}


    