@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}
body{
    font-family: "Roboto", serif;
}       
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 20px;
    background-color: #331436;

}

.logo-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
 
.nav-left {
    height: 36px;
    display: flex;
    align-items: center;
    font-size: 28px;
    font-weight: 400;
   
}
.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    align-items: center;
 
}
.site-title-header {
    height: 36px;
    font-size: 28px;
    font-weight:400;
    line-height: 36px;
    color: white;
   
}


.nav-right {
    width: 556px;
    height: 36px;
    display: flex;
    gap: 40px;
}
 
.nav-right-search {
    width: 200px;
    height: 36px;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 8px;
    background-color: #FFFFFF1A;
    border-radius: 6px;
    color:#ffffff;
    line-height: 24;
    font-size: 16px;
    font-weight: 400;
}
nav a {
    text-decoration: none; 
    color: inherit; 
}
.search-form {
    width: 200px;
    height: 36px;
    display: flex; 
    align-items: center;
    background-color: #FFFFFF1A;
    border-radius: 6px; 
    padding: 8px; 
    border: 1px solid #FFFFFF33; 
}
input[type="text"] {
    width: 160px;
    flex-grow: 1;
    border: none; 
    outline: none; 
    background: transparent; 
    color: #FFFFFF;
    font-size:14px;
    line-height: 20px;
    padding-left: 8px;
}
.search-button {
    background: none; 
    border: none; 
    display: flex; 
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    color:rgba(255, 255, 255, 0.7)
}
.search-icon {
    display: flex;
    justify-content: center;
    align-items: center;  
    width: 17px; 
    height: 17px;
    opacity: 0.8; 
}
.ul-text-nav-right {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 40px;
   
}
 
ul li a {
    text-decoration: none;
    color: inherit;
}

ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px;
  }
 
.container-main{
    width: 100%;
    max-height: 746px;
    min-height: 600px;
    background-color: #0000001A;
    padding-left: 170px;
    padding-right: 170px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: ;
    gap: 60px;  
    display: flex;
    justify-content: center;
}
.todo-column {
    min-width:240px; 
    height: 626px;
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 16px;
    gap: 10px;
    display: flex;
   flex-direction: column;
     
}
.card {
    width: 200px;
    right: 127px;
    background-color: #F8F2FF;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    stroke: #331436;   
}
.card-header {
    width:180px ;
    height:24px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-body {
    font-size: 12px;
    font-weight:bold;
    color: #331436;
    line-height: 24px;
    text-align: left;
    align-self: start;
}
.card-footer{
    width:180px ;
    height:39px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.oval-hight {
    background-color: #CB4F57;
    color: #FFF;
    padding: 2px 8px;
    border-radius: 15px;
    font-size: 10px;
}
.oval-low {
    background-color: #FCF4B6;
    color: #FFF;
    padding: 2px 8px;
    border-radius: 15px;
    font-size: 10px;
}
.oval-mid {
    background-color: #FF746A;
    color: #FFF;
    padding: 2px 8px;
    border-radius: 15px;
    font-size: 10px;
}
.text-date {
    font-size: 10px;
    color: #555;
}
.text-x{
    width: 20px;
    right: 20px;
    color: #FF746A;
}
.text-footer-user{
    width:133px ;
    right:25px ;
    display: flex;
    justify-content: end;
}
.user1{
    width: 25px;              
    height: 25px; 
    background-color:#801E8F ;
    border-radius: 50%;
    line-height: 24px;
    font-size: 10px;
    text-align: center;
    color: #FFFFFF;
}
.user2 {
    background-color:#2E4B83 ;
    width: 25px;              
    height: 25px; 
    border-radius: 50%;
    line-height: 24px;
    font-size: 10px;
    text-align: center;
    color: #FFFFFF;
}
.user3{
    background-color:#D92B93 ;
    width: 25px;              
    height: 25px; 
    border-radius: 50%;
    line-height: 24px;
    font-size: 10px;
    text-align: center;
    color: #FFFFFF;
}
.user4{
    background-color:#1A712D ;
    width: 25px;              
    height: 25px; 
    border-radius: 50%;
    line-height: 24px;
    font-size: 10px;
    text-align: center;
    color: #FFFFFF;
}
.user5{
    background-color:#AF4A00 ;
    width: 25px;              
    height: 25px; 
    border-radius: 50%;
    line-height: 24px;
    font-size: 10px;
    text-align: center;
    color: #FFFFFF;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 220px;
    background-color: #331436;
    gap: 60px;
    line-height: 28px;
    font-size: 20px;
    padding: 60px;
    color: white;
}
 
.social-container {
    display: flex;
    justify-content: space-between;
    width: 136px;
    height: 36.46px;
   
}  
 
.footer-text-container {
    display: flex;
    align-items: center;
    width: 786px;
    height: 100px;
    gap: 60px;
 
}
.icon-bg-white {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    background-color: white;
    border-radius: 50%;
}
 
.icon-bg-white img{
    width: 13px;
    height: 13px;
}
 
.footer-text p:hover {
        text-decoration: underline;
        color: #000;
}
