

* {  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}
body{
    font-family: "Roboto", serif;
}       
header {
    background-color: #331436;
    width: 100%;
    height: 80px;
    padding:20px;
    gap: 20px;
          
}
    
.container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
    
.nav-left {
    min-width: 758px;
    min-height: 36px;
    display: flex;
    gap: 20px;
    align-items: center;
    text-align: center;
 
}
    
.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;   
}
    
.site-title {
    font-size: 28px;
    font-weight: 400;
    line-height: 36px;
    color: #FFFFFF;
    align-items: center;
}
.nav-right{
    min-width: 552px;
    min-height: 36px;
    display: flex;
    justify-content: space-around;
    gap: 40px;
}
.nav-right-text{
    display: flex;
    justify-content: space-around;
    gap: 40px;
}
.ul-text-nav-right{
    display: flex;
    justify-content: space-around;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 24px;
    padding: 0;
    gap: 40px;
    text-align: center;
    align-items: center;
    text-decoration: none;
    list-style: none;
}

.nav-right-search {
    width: 200px;
    height: 36px;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 8px;
    background-color: #FFFFFF1A; /* Branco com opacidade */
    border-radius: 6px;
    color:#ffffff;
    line-height: 24;
    font-size: 16px;
    font-weight: 400;
}
nav a {
    text-decoration: none; /* Remove o sublinhado */
    color: inherit; /* Faz os links herdarem a cor do elemento pai */
}
.search-form {
    width: 200px; 
    height: 36px; 
    display: flex; /* Alinha conteúdo internamente */
    align-items: center;
    background-color: #FFFFFF1A; 
    border-radius: 6px; /* Bordas arredondadas */
    padding: 8px; /* Espaçamento interno */
    border: 1px solid #FFFFFF33; /* Contorno sutil */
}
input[type="text"] {
    flex-grow: 1; 
    border: none; /* Remove borda padrão */
    outline: none; /* Remove borda de foco padrão */
    background: transparent; /* Fundo transparente */
    color: #FFFFFF; 
    font-size:14px; 
    line-height: 20px;
    padding-left: 8px; 
}
.search-button {
    background: none; /* Remove o fundo padrão */
    border: none; /* Remove bordas padrão */
    display: flex; /* Permite centralizar o ícone */
    align-items: center;
    justify-content: center;
    width: 20px; 
    height: 20px;
    color:rgba(255, 255, 255, 0.7)
}
.search-icon {
    width: 17px; /* Tamanho do ícone */
    height: 17px;
    opacity: 0.8; /* Transparência do ícone */
}


.container-main{
    width: 100%;
    max-height: 746px;
    min-height: 600px;
    background-color: #0000001A;
    padding-left: 170px;
    padding-right: 170px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: ;
    gap: 60px;  
    display: flex;
    justify-content: center;

}
.todo-column {
    min-width:240px; 
    height: 626px;
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 16px;
    gap: 10px;
    display: flex;
   flex-direction: column;
    
 
}

.card {
    width: 200px;
    right: 127px;
    background-color: #F8F2FF;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    stroke: #331436;
   
}

/* Card interno */
.card-header {
    width:180px ;
    height:24px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-body {
    font-size: 12px;
    font-weight:bold;
    color: #331436;
    line-height: 24px;
    text-align: left;
    align-self: start;
 
}
.card-footer{
    width:180px ;
    height:39px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.oval-hight {
    background-color: #CB4F57;
    color: #FFF;
    padding: 2px 8px;
    border-radius: 15px;
    font-size: 10px;
}
.oval-low {
    background-color: #FCF4B6;
    color: #FFF;
    padding: 2px 8px;
    border-radius: 15px;
    font-size: 10px;
}
.oval-mid {
    background-color: #FF746A;
    color: #FFF;
    padding: 2px 8px;
    border-radius: 15px;
    font-size: 10px;
}
.text-date {
    font-size: 10px;
    color: #555;
}
.text-x{
    width: 20px;
    right: 20px;
    color: #FF746A;
}
.text-footer-user{
    width:133px ;
    right:25px ;
    display: flex;
    justify-content: end;
}
.user1{
    width: 25px;              
    height: 25px; 
    background-color:#801E8F ;
    border-radius: 50%;
    line-height: 24px;
    font-size: 10px;
    text-align: center;
    color: #FFFFFF;
}
.user2 {
    background-color:#2E4B83 ;
    width: 25px;              
    height: 25px; 
    border-radius: 50%;
    line-height: 24px;
    font-size: 10px;
    text-align: center;
    color: #FFFFFF;
}
.user3{
    background-color:#D92B93 ;
    width: 25px;              
    height: 25px; 
    border-radius: 50%;
    line-height: 24px;
    font-size: 10px;
    text-align: center;
    color: #FFFFFF;
}
.user4{
    background-color:#1A712D ;
    width: 25px;              
    height: 25px; 
    border-radius: 50%;
    line-height: 24px;
    font-size: 10px;
    text-align: center;
    color: #FFFFFF;
}
.user5{
    background-color:#AF4A00 ;
    width: 25px;              
    height: 25px; 
    border-radius: 50%;
    line-height: 24px;
    font-size: 10px;
    text-align: center;
    color: #FFFFFF;
}


.footer-container{
    width: 100%;
    height: 220px;
    background-color: #331436;
    display: flex;
    justify-content: center;
    padding: 60px;
    gap: 60px; 
}
    
.footer-img {
     display: flex;
     flex-direction:row; 
     justify-content:left;
     align-items: center;
     gap: 15px; 
     width: 136px; 
     height: 34.5px;
     
}
img{
    width:34px ;
    height:34px ; 
}
    
.footer-text {
    width: 786px;
    height: 100px;
    gap: 60px;
    display: flex;
    justify-content: end;
    flex-direction: row;
    align-items: center; 

}
p{
    font-size: 20px;
    color: #FFFFFF;
    align-self: center;
}
