@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;

}
body{
    font-family: 'Roboto',sans-serif;
}
header {
    background-color: #331436;
    padding:  20px;
   
}

/* Barra de navegação */
.container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

 /*Alinhamento da parte esquerda (logo e título) */
.nav-left {
    display: flex;
    align-items: center;
}

/* Logo */
.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* Título do site */
.site-title {
    font-size: 28px;
    border: 1px solid #000000;
    color: #FFFFFF;
  
}
.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 170px;
    
}

h2{
    font-size: 40px;
    font-weight: 700;
    color:#331436
}
p{
    line-height: 24px;
    font-size: 16px;
    text-align: center;
}
/* Centraliza o formulário */
.login-form {
    width: 520px;
    height: 248px; 
    font-size: 14px;     /* Largura máxima do formulário */
    margin: 50px auto;     /* Centraliza o formulário horizontalmente */
    padding: 20px;
    border-radius: 8px;
    
  
    
}

/* Estiliza os elementos do formulário */
form {
    display: flex;
    flex-direction: column; /* Alinha os itens verticalmente */
}

/* Estiliza os rótulos */
form label {
    margin-bottom: 8px;
    font-weight: bold;
}

/* Estiliza os campos de entrada */
form input {
    margin-bottom: 10px;    /* Espaço entre os campos */
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
  
}

/* Estiliza o botão */
form button {
    width: 240px;
    height: 48px;
    padding: 10px;
    font-size: 16px;
    background-color: #331436;
    color: #FFFFFF;
    border-radius: 4px;
   
}































.footer-section{
    background-color: #331436;
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #331436;
    gap: 20px; /* Espaçamento entre imagens e textos */
    border-top: 1px solid #ccc;
}
    
.footer-img {
        display: flex;
        flex-direction: row; /* Ícones lado a lado */
        justify-content: center;
        align-items: center;
        gap: 15px; /* Espaçamento entre os ícones */
}
    
.footer-img img {
        width: 50px; /* Ajuste do tamanho dos ícones */
        height: auto;
}
    
.footer-text {
        display: flex;
        flex-direction: row; /* Textos lado a lado */
        justify-content: center;
        align-items: center;
        gap: 20px; /* Espaçamento entre os textos */
        font-size: 14px;
        color: #FFFFFF;
}

    
.footer-text p:hover {
        text-decoration: underline;
        color: #000;
}
    