

* {
    margin: 0;
    padding: 0;

}
body{
    font-family: 'Roboto';
}
/* cabeçalho */
header {
    background-color: #331436;
    padding:  20px;
    gap: 20px;
}

/* Barra de navegação */
.container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

 /*Alinhamento da parte esquerda (logo e título) */
.nav-left {
    display: flex;
    align-items: center;
}

/* Logo */
.logo {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

/* Título do site */
.site-title {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 28px;
    border: 1px solid #000000;
    color: #FFFFFF;
  
}

/* Botão de login */
.nav-right .btn-login {
  
    background-color: #CB4F57;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    color:#FCF4B6;
    text-align: center;
    border-radius: 5px;
    border: 1px;
    width: 240px;
    height: 48px ;
    gap: 12px;
    
  
}

/* Botão de login - hover */
.nav-right .btn-login:hover {
    background-color:#dd979b ;
    color: #fff;
   
}
/*main*/
.main-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 170px;
    gap: 60px; /* Espaço entre o texto e a imagem */
    background-color:#7A1745;
  
}
.container-section-text {
    background-color:#7A1745;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-family: 'Roboto';
    text-align: center;
    color: #FFFFFF;
    gap: 20px;
   
}
.title-section{
    font-family: "Roboto", sans-serif;
    font-size:40px;
    text-align: center;
}
.description-section{
    font-family: 'Roboto';
    font-size: 16px;
    text-align: center;

}
.container-section-img{
    width: 540px; 
    height: 437px;
}

.btn-start {
    font-family: "Roboto", sans-serif;
    text-align: center;
    width:240px ;
    height: 48px;
    background-color: #CB4F57;
    font-family:'Roboto';
    color:#FCF4B6 ;
    padding: 12px;
    border-radius: 8px;
}


.btn-start:hover {
    background-color:#CB4F57 ; 
}



